.taskCardContainer {
  margin: 20px auto;
  padding: 10px;

  background-color: #30313d;
  border-radius: 10px;

  display: flex;
  gap: 10px;

  &.done {
    opacity: 0.3;
  }
}

.taskCardDescription {
  font-size: 24px;

  color: #e4e4e4;

  text-align: justify;

  display: flex;
  align-items: center;

  &.done {
    text-decoration: line-through;
  }
}

.taskCardDelete {
  width: 40px;
  height: 40px;

  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  svg {
    width: 28px;
    height: 28px;

    transition: 0.3s;

    fill: rgb(160, 30, 30);
  }
}
